<?xml version="1.0" encoding="utf-8"?>
<Settings>	
	<!--<IsEncrypted>N</IsEncrypted>
	<Password>Ip$l@St1ma</Password>
	<Username></Username>
	<NavWebService>http://ss-dc-navapp.stima-sacco.local:8072/service908/WS/STIMASACCO/Codeunit/PESALinkTransfer</NavWebService>-->
	<!--<ServiceTimerInterval>60000</ServiceTimerInterval>-->
</Settings>
